* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background: #2c3e50;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

nav a:hover {
  color: #f1c40f;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url('images/school-building.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px
  rgba(0,0,0,0.9);
}

.hero p {
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 8px
  rgba(0,0,0,0
  9);
}

/* SECTIONS */
section {
  padding: 50px 40px;
}

h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

/* LIST */
ul li {
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.about-img {
  width: 100%;
  max-width: 500px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

.contact-box {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
}

html {
  scroll-behavior: smooth;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin-right: 10px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  .cards {
    grid-template-columns: 1fr; /* stack cards */
  }

  .about-img {
    width: 100%;
  }
}